<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>LTPNB</title>
    </head>
    <body data-spy="scroll" data-target="#list-example">

        {% block body %}{% endblock %}

        
    
    </body>
</html>