
{% extends "base.html.twig" %}

{% block body %}

<div id="conteneur">
{{ form_start(form) }}
    <div class="form-group">
    <label for="exampleInputEmail1">Bonjour qui êtes-vous ? :</label>
        {{ form_widget(form.prof, {'attr': {'class': 'form-control'}}) }}
    </div>

    

    <button type="submit" class="btn btn-success">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}
</div>




 

{% endblock %}

{% block sctipt %}

{% endblock %}

{% block style %}

<style>

#conteneur{

    width:100%;
    padding: 25px;
    text-align: center;

}
img{

    
  border: 1px #23282d solid; 
  text-align: center;
}


</style>


{% endblock %}