
{% extends "base.html.twig" %}

{% block body %}
<div id="form">
Bonjour qui êtes vous :

    <select>
    {% for prof in profs %}
        <option>{{ prof.getNom }} {{ prof.getPrenom }} </option>
    {% endfor %}
    </select>

    <button class="btn btn-secondary btn-sm" id="logIn">valider</button>

</div>








{% endblock %}

{% block sctipt %}

{% endblock %}

{% block style %}

<style>

#form{

    margin:25px;

}

#form select{

    text-align:center

}


</style>


{% endblock %}