
{% extends "base.html.twig" %}

{% block body %}
{{ form_start(form) }}
    <p>Bonjour qui êtes vous :</p>

    {{ form_widget(form.prof) }}

    <br><button class="btn btn-success"><i class="fas fa-check"></i> {{ button_label|default('Valider') }}</button>

{{ form_end(form) }}








{% endblock %}

{% block sctipt %}

{% endblock %}

{% block style %}

<style>

#form{

    margin:25px;

}

#form select{

    text-align:center

}


</style>


{% endblock %}