
{% extends "base.html.twig" %}

{% block body %}

Bonjour qui êtes vous :

    <select>
    {% for prof in profs %}
        <option>{{ prof.getNom }} {{ prof.getPrenom }} </option>
    {% endfor %}
    </select>












{% endblock %}